<div class="page-header"> 
  <h1>Create your merchant profile</h1> 
</div> 

<p>Fill out information about your business below. This information will be shown on your public profile.</p> 

<br />

<%= render :partial => 'form', :locals => { :merchant => @merchant } %>
