<div class="page-header"> 
  <h1>Create your charity profile</h1> 
</div> 

<p>Fill out as much information as possible about your charity below. The more information donors have about your charity, the more likely it is that they'll donate to your cause. Please be aware that this information is displayed in your public profile.</p> 

<br />

<%= render :partial => 'form', :locals => { :charity => @charity } %>
