<div class="well user-settings-nav-panel">
  <ul class="nav nav-list">
    <li><%= link_to 'Finish setup', new_user_role_assignment_path %></li>
    <li><%= link_to 'Account settings', edit_user_registration_path %></li>
  </ul>
</div>
