<!-- (c) 2005, 2012. Authorize.Net is a registered trademark of CyberSource Corporation -->
<div style="float:left; margin-top: 15px;" class="AuthorizeNetSeal">
  <script type="text/javascript" language="javascript">var ANS_customer_id="0e062c01-4d2a-4a88-bc06-a98eaea5bc69";</script>
  <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>
  <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Accept Credit Cards</a>
</div>
