<div id="main">
  <div id="loginpage">

<div id="checkout-sidebar">
  <h3>Ready to join?</h3><br>
  <a href="<%= new_user_registration_path %>"><div id="button" class="button" style="font-size: 14px; margin-left: 10px; width: 260px">Sign Up Now</div></a>
</div>

<div style="float:left; width: 500px;">

<br>

<h1>Givegoods For Charities</h1>

<h3>What if your members could get $100 in discounts for every $50 they donated to your charity?</h3>

<p></p>
Givegoods is a technology platform that allows you to raise dramatically more money with very little effort and no upfront cost. Why ask for money, when you can raise money simply by offering rewards to your members from local merchants in your community that have supported you over the years?
</p>

<hr>

<h3>
How do I use Givegoods? 
</h3>
<p>Givegoods is the best way to create an ongoing revenue stream for your charity.</p>

<p>
1. Sign up with us, and we create a page for you. Your page is automatically loaded with rewards and allows you to accept donations and offer discounts to your members in exchange for donations.
</p>
<p>
2. Tell your board, membership and community to donate. For every $10 they donate, they can receive $20 off dinners, gifts, massages and much more. Since your donors save every time they donate, there's no reason not to donate again and again. 
</p>
<p>
3. We deliver you checks for donations collected each week.
</p>
<hr>

<p>We make it easy for your charity to raise dramatically more money and give back to your community.</p>

<img style="float:left; width: 70px; margin-right: 10px;" src="http://m1.licdn.com/mpr/mpr/shrink_150_150/p/2/000/048/389/116d02b.jpg">
<p>Still have questions? <br>Meet Christopher. He's here to help you.<br><a href="mailto:martha@givegoods.org">christopher@givegoods.org</a></p>
<div class="clear"></div>
</p>

</div>

<div class="clear"></div>

  </div>
</div>

