<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">


<head>
    <title>Did you hear? Jan Stafford's laptop got stolen.</title>
<style type="text/css">

body, html {
    background-color: #f6f2e3;
    margin: 0px;
    padding: 0px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#back {
   background-color: #FFFFFF;
   width: 880px;
   margin: 0px auto;
   margin-top: 20px;
   padding: 40px;
   height: 600px;
}

#message {
    position: relative;
    top: -600px;
    width: 200px;
    background-color: #fff;
    opacity:0.8;
    filter:alpha(opacity=80);
    padding: 20px;
    margin: 20px;
}

a {
    color: #00A5D6;
    text-decoration: none
}

h2 {
    line-height: 1em;
    margin:0px;
}

</style>
</head>
<body>
    <div id="back">
        <img src="/assets/pixel.png">
        <div id="message">
            <h2>Did you hear? Jan Stafford's laptop got stolen.</h2>
            <p>Let's help her raise $500 so she can buy a new one.</p>
            <p>It will also make Pixel very happy.</p>
            <form name="PrePage" method = "post" action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx">
                <input type = "hidden" name = "LinkId" value ="25dee1bc-fd92-480f-9a47-4ac4bb21513f" />
                <input type = "submit" value = "Donate Now" />
            </form> 
        </div>    
    </div>
</body>
</html>
