<div id="main">
  <div id="loginpage">

<div id="checkout-sidebar">
  <h3>Ready to join?</h3><br>
  <a href="<%= new_user_registration_path %>"><div id="button" class="button" style="font-size: 14px; margin-left: 10px; width: 260px">Sign Up Now</div></a>
</div>

<div style="float:left; width: 500px;">

<br>

<h1>Givegoods For Merchants</h1>


<p>Givegoods is an Alameda, CA-based technology company that promotes your business, supports local organizations and keeps dollars in our community.
We promote your business to thousands of local customers who are connected to local charities and organizations. We can't wait to work with you.</p>

<hr>

<h3>Program Highlights:</h3>
1. We never charge you a dime to use our program.<br>
2. You get seen by thousands of local customers.<br>
3. Your message to your customers is "We support our community", not "We need to offer deep discounts".<br>

<hr>

<h3>Merchants Like You:</h3>
We already working with over 40+ local businesses just like you, including: <p>
Angela's Bistro and Bar<br>
Little House Cafe<br>
The Pantry by Alameda Natural Grocery<br>
Cafe Q<br>
Dragon Rouge<br>
R+B Cellars<br>
BladiumSports Club<br>
Bowser's Pizza<br>
C'era Una Volta<br>
Alameda Eyes Optometry<br>
Dog Bone Alley<br>
M Zoe Couture<br>
Poppy Red<br>
Rise To Health<br>
Under One Woof<br>

<hr />

<h3>
How do I use Givegoods? 
</h3>

<p>
1. Create a compelling reward to offer to your community. You control all the pricing, limits, rules and conditions for your offer. 
</p>
<p>
2. Local charities promote you to thousands of local members, offering your reward in exchange for donations. 
</p>
<p>
3. Donors get a certificate when they give. They bring the certificate to you for a reward. It works just like any coupon. 
</p>
<hr>



<p>We want to make it as easy as possible for you to find new, loyal local custoemrs and give back to your community.</p>

<img style="float:left; width: 70px; margin-right: 10px;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275447_1636276549_1562460808_n.jpg">
 
<p>Still have thoughts, concerns, questions? <br>Meet Martha. She's here to help you.<br><a href="mailto:martha@givegoods.org">martha@givegoods.org</a></p>
<div class="clear"></div>
</p>

</div>

<div class="clear"></div>

  </div>
</div>

