
<style type="text/css">
body {background-color: #F6F3EE;}

p {
font-size: 12px;
}

.larger {
font-size: 48px;
letter-spacing: -1px;
line-height: 42px;
}

hr {
margin-top: 20px;
margin-bottom: 10px;
}

h4 {
font-size: 24px;
margin:0px;
color: #666666;
line-height: 24px;
letter-spacing: -1px;
}

h3 {
font-size: 36px;
line-height: 36px;
color: #0098B1;
letter-spacing: -1px;
}

.offer-img {
padding-left: 10px;
}

.rounded {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#bigbutton {
background-color:#0098B1;
color: #FFFFFF;
font-size: 24px;
font-weight: bold;
width: 100%;
padding-top: 20px;
padding-bottom: 20px;
margin-top: 10px;
} 

#loginpage {
margin-bottom: 5px;
padding-top: 30px;
}

#box {
border: 4px solid #F6F3EE;
padding: 10px;
padding-bottom: 5px;
width: 350px;
margin-top: 10px;
}

</style>

<div id="main">
  <div id="loginpage">

<p align="right" style="margin-top: -10px; float:right">
  <img src="/assets/email_assets/cc_logos.png">
</p>

<span style="float: left">
  <div style="width: 400px;">
  <img src="/assets/email_assets/abgc_logo.png"><br>
  <h3>Everytime you shop or dine in Alameda, you can support Alameda Boys & Girls Club without spending an extra dime.</h3>
  </div>

 <br>

  <h4 style="font-size: 18px">3 easy steps:</h4>

   <div id="box" style="color: #EB5775;">
    <h4 style="color: inherit">1. Select:</h4>
    <p>Choose your favorite merchant discounts.</p>
   </div>

   <div id="box" style="color: #ff9988;">
    <h4 style="color: inherit">2. Support:</h4>
    <p>Give the specified amount to Alameda Boys and Girls Club</p>
   </div>

   <div id="box" style="color: #0098B1;">
    <h4 style="color: inherit">3. Save:</h4>
    <p>Print out certificates, get discounts from your selected merchants.</p>
   </div>

</span>

<div style="float: right">
   <a href="http://givegoods.org/charities/alameda-boys-girls-club/rewards/angela-s-bistro-and-bar"><img class="offer-img" src="/assets/email_assets/offer3.png"></a>
   <!--<a href="http://givegoods.org/charities/alameda-boys-girls-club/rewards/dragon-rouge"><img class="offer-img" src="/assets/email_assets/offer2.png"></a>-->
   <a href="http://www.givegoods.org/charities/alameda-boys-girls-club/rewards/little-house-cafe"><img class="offer-img" src="/assets/email_assets/offer1.png"></a>


<hr>
<img style="float:right" src="/assets/email_assets/linda.png">
<div class="clear"></div>

<a href="http://givegoods.org/charities/alameda-boys-girls-club/rewards/"><div align="center" class="rounded" id="bigbutton">View all 30 Alameda rewards!</div></a>

</div>

<div class="clear"></div>


  </div>
</div>



