
<% body_options :class => "body_header_bar" %>

<style type="text/css">
body {background-color: #F6F3EE;}

.body_header_bar {
height: 370px;
}

p {
font-size: 14px;
line-height: 14px;
}

hr {
margin-top: 20px;
margin-bottom: 10px;
}


h3 {
font-size: 24px;
line-height: 36px;
color: #666666;
letter-spacing: 0px;
font-weight: 200;
}

h4 {
font-size: 18px;
margin:0px;
color: #666666;
line-height: 22px;
letter-spacing: 0px;
font-weight: 200;
width: 600px;
}

#box {
border: 4px solid #F6F3EE;
padding: 10px;
background-color: #FAFAFA;
float: left;
width: 340px;
margin-right: 20px;
}

.img {
float:left; 
margin-right: 10px;
height: 136px;
}

#box h4 {
font-weight: bold;
color: #444444;
}

#box p {
font-weight: normal;
color: #444444;
}

.rounded {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#button {
float:left;
} 

.bigbutton {
font-size: 24px;
font-weight: bold;
width: 740px;
margin-top: 20px;
}

</style>

<div id="main">
    <div align="right" style="float:right; padding-top: 10px;">
       <img src="http://www.givegoods.org/system/uploads/charity/picture/10483/grid_banner_00008.jpg"><br><img src="/assets/email_assets/cc_logos.png">
    </div>
    <h3>Get rewards at local Alameda merchants when you donate to:</h3>
    <h1>Friends of Alameda Animal Shelter</h1>
    <h4>Donate to Friends of the Alameda Animal Shelter and get local rewards that are equal to, or greater than, your donation.</h4>

<div class="clear"></div>

<a target="blank" href="http://www.givegoods.org/charities/friends-of-the-alameda-animal-shelter/rewards/dog-bone-alley">
  <div id="box">
   <img class="img" src="http://www.givegoods.org/system/uploads/merchant/picture/59/grid_SRDBA5103110_1_1-300x225.jpg">
   <h4>Dog Bone Alley</h4>
   <p>Donate $10, get a $10 discount on supplies and toys for your favorite four-legged friend.</p>
   <div id="button" class="button">View Details</div>
  </div>
</a>

<a target="blank" href="http://www.givegoods.org/charities/friends-of-the-alameda-animal-shelter/rewards/little-house-cafe">
  <div id="box">
   <img class="img" src="http://www.givegoods.org/system/uploads/merchant/picture/74/grid_41581_109092315829_5017_n.jpg">
   <h4>Little House Cafe</h4>
   <p>Donate $20, get 50% off a $40 exquisite homecooked dinner at Little House Cafe.</p>
   <div id="button" class="button">View Details</div>
  </div>
</a>

<br>
<div class="clear"></div>

<a href="http://www.givegoods.org/charities/friends-of-the-alameda-animal-shelter/rewards">
   <div id="button" align="center" class="button bigbutton rounded">
     View all 30+ Rewards in Alameda
   </div>
</a>


</div>
</div>



