<div class="page-header"> 
  <h1>Reward settings</h1> 
</div> 

<p>Customize your reward below. After you have your reward the way you like it, change your campaign status to "active" and then click "Save Reward Settings" to post it live on Givegoods. Pause it at anytime.</p>

<br />

<%= render :partial => 'form', :locals => { :offer => @offer } %>
